:host{
    position: relative;
    display: flex;   
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 30px;
}

:host:hover{
    background: linear-gradient(133deg, rgba(244, 245, 246,0) 70%, rgb(43, 24, 54) 91% );
}









