:host{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 20px;
    align-items: center;
    overflow-y: scroll;
    gap: 50px;
}
:host::-webkit-scrollbar{
    display: none;
} 